
<main>
    <article class="col-md-3" *ngFor="let show of lista">
        <h3 class="col-md-12 text-center pt-1">{{ show.titulo }}</h3>
        <figure>
            <img [src]="show.imagen" class="img-fluid">
        </figure>
        <div class="col-md-12">
            <cite class="">El Autor</cite>
            <span class="float-end">{{show.categoria}}</span>
            <p>{{show.texto}}</p>
            <small class="float-end mb-2">{{show.fecha}}</small>
        </div>
    </article>
</main>
<button type="submit" class="publicar btn btn-primary" [routerLink]="['../new']">Nuevo post</button>
