
<main>
    <article class="col-md-3">
        <h3 class="col-md-12 text-center pt-1">Lorem Ipsum</h3>
        <figure>
            <img src="https://www.ecestaticos.com/image/clipping/3cd2adb27a3dd0103a31085a401f0f37/la-foto-de-la-barbacoa-del-rey-juan-carlos-y-corinna-que-esta-dando-la-vuelta-al-mundo.jpg" class="img-fluid">
        </figure>
        <div class="col-md-12">
            <cite class="">El Autor</cite>
            <span class="float-end">Categoría</span>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio quod dignissimos, quasi id voluptate eveniet incidunt amet rerum ex iure recusandae, fugit voluptates quibusdam assumenda provident tenetur fuga pariatur. Quo!</p>
            <small class="float-end mb-2">01/01/2021</small>
        </div>
    </article>
</main>
<button type="submit" class="publicar btn btn-primary" [routerLink]="['../new']">Nuevo post</button>
